@import url("index.css");  
.container {
  max-width: 600px;
}

#cuadroPerfil {
  background-color: rgba(255, 255, 255, 0.664);
}

.border {
  border-color: #000000;
  border-radius: 30px;
}

.p-5 {
  padding: 2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.btn-danger {
  background-color: #dc3545;
  color: #ffffff;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.d-grid {
  display: grid;
}

.d-grid>* {
  grid-column: 1;
}

@media (min-width: 768px) {
  .justify-content-md-start {
    justify-content: flex-start !important;
  }
}

#titulo {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #2f4f4f;
  text-shadow: 2px 2px #fff;
}