* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.containerr {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

header h1 {
  font-size: 2em;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}
nav a:hover {
  color: #007bff;
}

main {
  padding: 50px 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.item {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
}

.item img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.item h3 {
  font-size: 1.2em;
  margin: 0;
}

footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  margin-top: 50px;
}

footer p {
  margin: 0;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}

.social-icons a:hover {
  background-color: #0056b3;
}

.fa-facebook {
  font-size: 1.5em;
}

.fa-twitter {
  font-size: 1.5em;
}

.fa-instagram {
  font-size: 1.5em;
}

.carrusel {
  width: 100vw;
  height: 200px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.carrusel {
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 15vh;
}

.carrusel > img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 20s infinite;
}

img:nth-child(2) {
  animation-delay: 4s;
}
img:nth-child(3) {
  animation-delay: 8;
}
img:nth-child(4) {
  animation-delay: 12s;
}
img:nth-child(5) {
  animation-delay: 16s;
}



