@import url("estilo_comun.css");  
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  section {
    margin-bottom: 20px;
  }

  .itemm {
    margin-right: 20px;
  }

  .col {
    margin-left: 33px;
}