.navbar{
    background-color: #58ccc2;
  }

#autor {
    color:#58ccc2;
}

.item {
    height:200px;
}

.item img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

body {
    background-color: #ecedee
}

.card {
    border: none;
    overflow: hidden
}

.thumbnail_images ul {
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top:10px
}
.thumbnail_images ul li {
    margin: 5px;
    padding: 10px;
    border: 2px solid #eee;
    cursor: pointer;
    transition: all 0.5s
}

.thumbnail_images ul li:hover
{
    border: 2px solid #000
}

.main_image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: 600px;
    width: 100%;
    overflow: hidden
}

.content p {
    font-size: 12px
}

.colors {
    margin-top: 5px
}

.right-side{
    position: relative
}

.share {
    position: absolute;
    right: 20px;
    top: 22px
}

.buttons .btn {
    height: 50px;width: 150px;border-radius: 0px !important
}

#texto {
    text-align:justify;
    padding: 5px;
}

.checked {
    color: orange;
}
  
#formularioComentario {
    display: block;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  #formularioComentario h3 {
    margin-top: 5px;
    font-size: 24px;
    margin-bottom: 24px;
    color:#333
  }

  #formularioComentario label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 15px;
  }

  #formularioComentario input[type="text"],
  #formularioComentario textarea,
  #formularioComentario select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  #comentarioForm textarea {
    height: 100px;
  }
  #formularioComentario button[type="submit"]{
    display: bloc;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #15b1a4;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  
#comentarioForm button[type="submit"]:hover {
    background-color: #1f3f3f;
  }
  
  .button-container {
    text-align: center;
    margin: 20px;
  }
  
  .button-container .btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-container .btn:hover {
    background-color: #0056b3;
  }
  
  .button-container .btn:focus {
    outline: none;
  }

.tituloComentarios{
    box-sizing: border-box;
    margin-top: 20px;
    background-image: linear-gradient(to bottom right, rgba(195, 243, 231, 1), rgba(255, 255, 255, 0.8));
    margin-bottom: -8px;
    height:10vh;
    font-size: 50px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: #2f4f4f;
    text-shadow: 2px 2px #fff;
    margin-top: 75px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px; 
}

.containerComentarios {
    width: 70%;
    margin: 0 auto;
    border-radius: 10px; 
  }

  .card-body {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    color: #555;
  }
  
  .card-body h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  #contanyadircomentario {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  #anyadircomentario {
    padding: 10px 20px;
    background-color: #006d64;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  
  #anyadircomentario:hover {
    background-color: #1c3333;
  }

  
  #iniciarsesionboton {
    background-color: #58ccc2;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
  }
  
  #iniciarsesionboton:hover {
    background-color: #1c3333;
    cursor: pointer;
  }

  #cerrarboton {
    background-color: #006d64;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
  }
  
  #cerrarboton:hover {
    background-color: #1c3333;
    cursor: pointer;
  }
