@import url("estilo_comun.css");  
  
body {
  background-image: url(../img/seabook.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  margin-bottom: 20px;
}

.col {
  margin-left: 0px;
}

#inicio, #caric{
background-color: #c3f3e7;
}

#inicio:hover, #caric:hover{
background-color: #000000;
}

#c1, #c2, #c3{
border: 1px solid rgba(100, 100, 100, 0);
}

#c1:hover, #c2:hover, #c3:hover{
background-color: #c3f3e7;
border: 1px solid rgb(100, 100, 100);
}

.carousel-inner img {
width: 500px; 
height: 350px; 
object-fit: cover; 
}

.card {
margin-bottom: 20px; 
}

.card-img-top {
margin-top: 20px;
}

.card-body {
padding: 20px; 
}

.card-footer {
padding: 20px; 
}

.titulo2{
box-sizing: border-box;
margin-top: 20px;
background-image: linear-gradient(to bottom right, rgba(195, 243, 231, 0.9), rgba(255, 255, 255, 0.7));
margin-bottom: -8px;
height:10vh;

}
.titulo{
font-size: 50px;
padding: 15px;
}
.mi-titulo {
text-align: center !important;
padding: 30px;
box-sizing: border-box;
margin: 0 auto; /* Cambiar a "auto" en lugar de "0" para centrar horizontalmente */
}

#destacados {
background-image: linear-gradient(to bottom right, rgba(195, 243, 231, 0.9), rgba(255, 255, 255, 0.7));
text-align: center;
}


#libros {
background: rgba(255, 255, 255, 0.7);
}


